<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd	
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-4.0.xsd">
        
    <!-- enable autowire(该配置项可被<context:component-scan/>代替) -->
    <!-- 隐式地向 Spring容器注册AutowiredAnnotationBeanPostProcessor、RequiredAnnotationBeanPostProcessor、CommonAnnotationBeanPostProcessor以及PersistenceAnnotationBeanPostProcessor这4个BeanPostProcessor -->
	<!-- 无需在配置文件中声明相应的processor即可使用  @Autowired、@Required、@Resource、@PostConstruct、@PreDestroy、@PersistenceContext等注解 -->
	<!-- <context:annotation-config /> -->
	
	<!-- configure the springIOC -->
	<!-- 指定了需要扫描的类包，类包及其递归子包中所有的类都会被处理 -->
	<!-- 注意：该配置项其实也包含了自动注入上述processor的功能，因此当使用<context:component-scan/>后，即可将<context:annotation-config/>省去。 -->
	<context:component-scan base-package="com.bo.springmvc">
		<!-- 启动组件扫描，排除@Controller组件，该组件由SpringMVC配置文件扫描，防止SpringMVC和SpringIOC对同一个对象的管理重合 -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

	<!-- Load resource file -->
	<context:property-placeholder location="classpath:config/*.properties" ignore-unresolvable="true" />

	<!-- Load spring mybatis Config -->
	<import resource="classpath:spring/spring-mybatis.xml" />

	<!-- Hessian client -->
	<import resource="classpath:spring/hessian-client.xml" />

</beans>
