<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 注意节点顺序 (properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,plugins?,environments?,databaseIdProvider?,mappers?)-->
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="callSettersOnNulls" value="true"/> 
    </settings>

	<!-- 配置映射类的别名(spring-mybatis中已作全局配置) -->
	<!-- <typeAliases>
		<typeAlias alias="User" type="com.bo.springmvc.model.User"/>
	</typeAliases> -->
	
 	<!-- 配置Mapper文件的路径(spring-mybatis中已作全局配置) -->
	<!-- <mappers>
		<mapper resource="com/bo/springmvc/mapper/UserMapper.xml"/>
	</mappers> -->

</configuration>